<% SWITCH cmd %>
<% CASE 'USER_NOT_FOUND' %>
{
    "sendMessage": {
        "text": "🔐 <b>Бот для регистрации VPN ключиков</b>",
        "reply_markup": {
            "inline_keyboard": [
                [
                    {
                        "text": "Продолжить...",
                        "callback_data": "/register {{ args.1 }}"
                    }
                ]
            ]
        }
    }
}
<% CASE '/register' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "shmRegister": {
        "partner_id": "{{ args.0 }}",
        "callback_data": "/pricelist",
        "error": "ОШИБКА: Логин {{ message.chat.username }} или chat_id {{ message.chat.id }} уже существует"
    }
}
<% CASE ['/start', '/menu', '🌍 Главное Меню'] %>
{{ IF cmd == '/menu' OR cmd == 'Меню' }}
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{{ END }}
{
    "sendMessage": {
        "text":"Меню",
        "parse_mode": "HTML",
        "reply_markup": {
            "keyboard": [
				[
                    {"text": "🌍 Главное Меню"}
                ],
                [
                    {"text": "💰 Баланс"},
                    {"text": "🚀 Список VPN ключей"}
                ],
				[
                    {"text": "🚀 О Сервисе"}
                ],
                [
                    {"text": "🤝 Реферальная система"},
                    {"text": "📡 Помощь"}
                ],
				[
                    {"text": "☢ Тестировать Услуги"}
                ]
            ],
            "one_time_keyboard": false,
            "resize_keyboard": true
        }
    }
},
{
    "sendMessage": {
        "text": "👋🏽 <b>Добро пожаловать!</b> <b><u>{{ user.full_name }}</u></b> .\n           🌐             <b>Service RU VPN</b>           🌐          \n\n 🔥 <b><u>У нас самые низкие цены на рынке!</u></b>  🔥\n   *** <u> <i>Мы используем Wireguard  и XRAY-Core ПРОТОКОЛЫ</i> </u> ***\n\n 🤝 Партнёрская программа\n Приводи друзей и зарабатывай <b>{{ config.billing.partner.income_percent }}%</b>\n\n\n <b>Действует тестовая услуга 10/дней</b> 🤝\n\n\nVPN в частном облаке, чтобы у тебя была возможность свободно путешествовать и получать доступ к своим соц. сетям и банкам из любой страны, а также избавить тебя от:\n\n😥 зависающих видео в запрещённой сети\n😥 пропущенных новых сообщений\n😡 бесконечного просмотра рекламы\n😱 риска блокировки из-за частой смены IP-адреса\n🤬 утекающего заряда батареи на пробных VPN\n\n\n🔌<b>Подключишься -></b> и сразу оценишь преимущества НАШЕГО VPN! на своем устройстве!\n\n Скачать приложение: <a href=\"{{ config.apk.download }}\">🌐ServRU VPN Android</a>",
        "reply_markup": {
        
        }
    }
}
<% CASE ['/balance', '💰 Баланс'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "💰 <b>Баланс</b>: {{ user.balance }}\n\nНеобходимо оплатить: <b>{{ user.pays.forecast.total }}</b>",
        "reply_markup" : {
            "inline_keyboard": [
                [
					{
                        "text": "✚ Пополнить баланс",
                        "web_app": {
                            "url": "https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%BF%D0%BE%20%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D1%83%20{{ user.id }}&targets-hint=&default-sum={{ user.pays.forecast.total }}&label={{ user.id }}&button-text=12&payment-type-choice=on&hint=&successURL=&quickpay=shop&account={{ config.pay_systems.yoomoney.account }}"
                        }
                    }
					
                ],
                [
                    {
                        "text": "☰ История платежей",
                        "callback_data": "/pays"
                    }
                ],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}
<% CASE ['/list', '🚀 Список VPN ключей'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "🚀 <b>{{ user.full_name }}!</b> Вы хотите создать новый ключ или продлить один из имеющихся?",
        "reply_markup" : {
            "inline_keyboard": [
                {{ FOR item IN ref( user.services.list_for_api( 'category', 'vpn-%' ) ) }}
                {{ SWITCH item.status }}
                  {{ CASE 'ACTIVE' }}
                  {{ icon = '✅' }}
                  {{ status = 'Работает' }}
                  {{ CASE 'BLOCK' }}
                  {{ icon = '❌' }}
                  {{ status = 'Заблокирована' }}
                  {{ CASE 'NOT PAID' }}
                  {{ icon = '💰' }}
                  {{ status = 'Ожидает оплаты' }}
                  {{ CASE }}
                  {{ icon = '⏳' }}
                  {{ status = 'Обработка' }}
                {{ END }}
                [
                    {
                        "text": "{{ item.name }} - {{ icon }} {{ status }} {{ end_date }}",
                        "callback_data": "/service {{ item.user_service_id }}"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "✚ Купить новый ключ",
                        "callback_data": "/pricelist"
                    }
                ],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}
<% CASE '/service' %>
{{ us = user.services.list_for_api( 'usi', args.0 ) }}
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        {{ SWITCH us.status }}
          {{ CASE 'ACTIVE' }}
          {{ icon = '✅' }}
          {{ status = 'Работает' }}
          {{ CASE 'BLOCK' }}
          {{ icon = '❌' }}
          {{ status = 'Заблокирована' }}
          {{ CASE 'NOT PAID' }}
          {{ icon = '💰' }}
          {{ status = 'Ожидает оплаты' }}
          {{ CASE }}
          {{ icon = '⏳' }}
          {{ status = 'Обработка' }}
            {{ end_date = 'до'  _ item.withdraw.end_date }}
        {{ END }}
        "text": "<b>Услуга</b>: {{ us.name }}{{ IF us.expire }}\n\n<b>Оплачена до</b>: {{ us.expire }}{{ END }}\n\n<b>Статус</b>: {{ icon}} {{ status }}",
        "reply_markup" : {
            "inline_keyboard": [
                {{ IF us.status == 'ACTIVE' }}
                {{ subscription_url = storage.read('name','vpn_mrzb_' _ args.0 ).subscription_url }}

                {{ IF us.category.grep('^vpn-mz-').first }}
                {{ IF subscription_url.grep('^https:').first }}
                [
                    {
                        "text": "Показать данные для подключения",
                        "web_app": {
                            "url": "{{ subscription_url }}"
                        }
                    }
                ],
                [
                    {
                        "text": "Показать ссылку подписки",
                        "callback_data": "/show_mz_keys {{ args.0 }}"
                    }
                ],
                {{ ELSE }}
                [
                    {
                        "text": "ОШИБКА: настройте SSL для Marzban",
                        "callback_data": "/menu"
                    }
                ],
                {{ END }}
                {{ ELSE }}
                [
                    {
                        "text": "🗝  Скачать ключ",
                        "callback_data": "/download_qr {{ args.0 }}"
                    },
                    {
                        "text": "👀 Показать QR код",
                        "callback_data": "/show_qr {{ args.0 }}"
                    }
                ],
                {{ END }}

                {{ END }}
                {{ IF us.status == 'NOT PAID' || us.status == 'BLOCK' }}
                [
                    {
                        "text": "💰 Оплатить",
                        "callback_data": "/balance"
                    }
                ],
                {{ END }}
                {{ IF us.status != 'PROGRESS' }}
                [
                    {
                        "text": "❌ Удалить ключ",
                        "callback_data": "/delete {{ args.0 }}"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/list"
                    }
                ]
            ]
        }
    }
}
<% CASE '/pricelist' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "☷ Чтобы подключиться:\n\n1.Выбери нужный тариф\n2.Внеси платеж\n3.И получи ключ с простой инструкций для своего устройства 😉\n\n👍Пользователи говорят, что готовы платить за эту скорость🏎️ и удобство даже больше.\n▶️Жми на нужный тариф👇",
        "reply_markup" : {
            "inline_keyboard": [
                {{ FOR item IN ref(service.api_price_list) }}
                [
                    {
                        "text": "{{ item.name }} - {{ item.cost }} руб/мес.",
                        "callback_data": "/serviceorder {{ item.service_id }}"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}
<% CASE '/serviceorder' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "shmServiceOrder": {
        "service_id": "{{ args.0 }}",
        "callback_data": "/list",
        "cb_not_enough_money": "/balance",
        "error": "ОШИБКА"
    }
}
<% CASE '/download_qr' %>
{
    "uploadDocumentFromStorage": {
        "name": "vpn{{ args.0 }}",
        "filename": "vpn{{ args.0 }}.conf"
    }
}
<% CASE '/show_qr' %>
{
    "uploadPhotoFromStorage": {
        "name": "vpn{{ args.0 }}",
        "format": "qr_code_png"
    }
}
<% CASE '/delete' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "🤔 <b>Подтвердите удаление услуги. Услугу нельзя будет восстановить!</b>",
        "reply_markup" : {
            "inline_keyboard": [
                [
                    {
                        "text": "🧨 ДА, УДАЛИТЬ! 🔥",
                        "callback_data": "/delete_confirmed {{ args.0 }}"
                    }
                ],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/list"
                    }
                ]
            ]
        }
    }
}
<% CASE '/delete_confirmed' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "shmServiceDelete": {
        "usi": "{{ args.0 }}",
        "callback_data": "/list",
        "error": "ОШИБКА"
    }
}
<% CASE '/pays' %>
{
    "sendMessage": {
        "text": "Платежи",
        "reply_markup" : {
            "inline_keyboard": [
                {{ FOR item IN ref(user.pays.list_for_api('limit', 5)) }}
                [
                    {
                        "text": "Дата: {{ item.date }}, Сумма: {{ item.money }} руб.",
                        "callback_data": "/menu"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}


<% CASE '/show_mz_keys' %>
{{ subscription_url = storage.read('name','vpn_mrzb_' _ args.0 ).subscription_url }}
{
    "printQrCode": {
        "data": "{{ subscription_url }}",
        "parameters": {
            "parse_mode": "HTML",
            "caption": "<b>Subscription URL:</b>\n<code>{{ subscription_url }}</code>"
        }
    }
},
{{ trojan = storage.read('name','vpn_mrzb_' _ args.0 ).links.grep('^trojan:').first }}
{
    "printQrCode": {
        "data": "{{ trojan }}",
        "parameters": {
            "parse_mode": "HTML",
            "caption": "<b>Troayn TCP:</b>\n<code>{{ trojan }}</code>"
        }
    }
},
{{ vless_grpc = storage.read('name','vpn_mrzb_' _ args.0 ).links.grep('^vless:').last }}
{
    "printQrCode": {
        "data": "{{ vless_grpc }}",
        "parameters": {
            "parse_mode": "HTML",
            "caption": "<b>VLESS GRPC:</b>\n<code>{{ vless_grpc }}</code>"
        }
    }
},
{
  "deleteMessage": { "message_id": {{ message.message_id }} }
},

{
  "sendMessage": {
    "text": "Вернуться к услуге",
    "reply_markup": {
      "inline_keyboard": [
        [
          {
            "text": " Назад",
            "callback_data": "/service {{ args.0 }}"
          }
        ]
      ]
    }
  }
}

<% CASE '/info' %>
{
    "sendMessage": {
        "parse_mode":"HTML",
        "text": "<b>User-id</b>: {{ user.id }}\n<b>Login</b>: {{ user.login }}\n<b>Chat-id</b>: {{ message.chat.id }}\n<b>Chat-username</b>: {{ message.chat.username }}"
    }
}


<% CASE ['/sup', '🖥 Чат поддержки'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text":"🖥 Чат поддержки",
        "parse_mode": "HTML",
        "reply_markup" : {
            "inline_keyboard": [
                [
					{
                        "text": "🖥 Чат поддержки",
                            "url": "https://t.me/supservru/7"
                    }
					
                ]
            ]
        }
    }
}

<% CASE ['/help', '/menu', '📡 Помощь'] %>
{{ IF cmd == '/menu' OR cmd == '🌍 Главное Меню' }}
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{{ END }}
{
    "sendMessage": {
        "text":"📡 Выберите пункт который вас интересует!",
        "parse_mode": "HTML",
        "reply_markup": {
            "keyboard": [
                [
                     {"text": "🖥 Чат поддержки"},
                    {"text": "🖥 Инструкция Xray-Core"}
                ],
				[
                    {"text": "🖥 Инструкция WG"}
                ],
                [
                    {"text": "🌍 Главное Меню"}
                ]
            ],
            "one_time_keyboard": false,
            "resize_keyboard": true
        }
    }
}


<% CASE ['/xray', '🖥 Инструкция Xray-Core'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendPhoto": {
        "photo": "https://play-lh.googleusercontent.com/EU8VQ3e2Ylty9w1_TQWh74X0jh37kBNNLKsFDH6DWc9_W7hjGR-tA1DP51-E6lc1hA=w240-h480-rw",
        "protect_content": "true",
        "parse_mode":"HTML",
        "caption": "Инструкция для Android:\n\n1️⃣ Нажми на ключ доступа (☝️ начинается с vless://)\n2️⃣ Установи приложение <a href=\"{{ config.apk.download }}\">🌐ServRU Andriod</a>,<a href=\"https://apps.apple.com/us/app/v2rayng/id1661166628\">🌐 V2rayNG IOS</a>,\n3️⃣ Запусти программу Outline и вставь ключ\n4️⃣ Нажми <b>'Подключится'</b> и наслаждайся высокой скоростью и стабильностью ",
        "reply_markup" : {
            "inline_keyboard": [
                [
                    {
                        "text": "🖥 Чат поддержки",
                        "url": "https://t.me/supservru"
                    },
					{
                        "text": "🚀 Список VPN ключей",
                        "callback_data": "/list"
                    }
					],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}

<% CASE ['/wg', '🖥 Инструкция WG'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendPhoto": {
        "photo": "https://yt3.googleusercontent.com/ytc/AOPolaTkYCi7Pm1bLJyy9BHDPAZaOwrZhs0CiZZ6go-I=s900-c-k-c0x00ffffff-no-rj",
        "protect_content": "true",
        "parse_mode":"HTML",
        "caption": "1️⃣  Скачайте и установите приложение WireGuard к себе на устройство. Скачать для <a href=\"https://apps.apple.com/us/app/wireguard/id1441195209\">iPhone</a>, <a href=\"https://play.google.com/store/apps/details?id=com.wireguard.android\">Android</a>, <a href=\"https://apps.apple.com/us/app/wireguard/id1451685025\">Mac</a>.\n\n2️⃣ В разделе \"Ключи\" нажмите \"Новый ключ\" и выберите нужный вам.\n\n3️⃣  После оплаты скачайте файл настроек для приложения WireGuard. Находясь в меню \"Ключи\" выберите нужный ключ, кликнув по нему. Далее скачайте файл ключа и добавьте его в приложение WireGuard.",
        "reply_markup" : {
            "inline_keyboard": [
                [
                    {
                        "text": "🖥 Чат поддержки",
                        "url": "https://t.me/supservru"
                    },
					{
                        "text": "🚀 Список VPN ключей",
                        "callback_data": "/list"
                    }
					],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}

<% CASE '/tests' %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "🚀 <b>{{ user.full_name }}!</b> Вы хотите создать новый ключ или продлить один из имеющихся?",
        "reply_markup" : {
            "inline_keyboard": [
                {{ FOR item IN ref( user.services.list_for_api( 'category', 'vpn-mz-test-%' ) ) }}
                {{ SWITCH item.status }}
                  {{ CASE 'ACTIVE' }}
                  {{ icon = '✅' }}
                  {{ status = 'Работает' }}
                  {{ CASE 'BLOCK' }}
                  {{ icon = '❌' }}
                  {{ status = 'Заблокирована' }}
                  {{ CASE 'NOT PAID' }}
                  {{ icon = '💰' }}
                  {{ status = 'Ожидает оплаты' }}
                  {{ CASE }}
                  {{ icon = '⏳' }}
                  {{ status = 'Обработка' }}
                {{ END }}
                [
                    {
                        "text": "{{ item.name }} - {{ icon }} {{ status }} {{ end_date }}",
                        "callback_data": "/service {{ item.user_service_id }}"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "✚ Купить новый ключ",
                        "callback_data": "/pricelist"
                    }
                ],
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}


<% CASE ['/test', '☢ Тестировать Услуги'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "☷ Чтобы подключиться:\n\n<b>1) Выбирите подходящию под вас локацию</b>\n<b>2) И получи ключ с простой инструкций для своего устройства 😉</b>\n\n👍Пользователи говорят, что готовы платить за эту скорость🏎️ и удобство даже больше.\n<b>▶ ️Жми на нужный тариф 👇</b>",
        "reply_markup" : {
            "inline_keyboard": [
                {{ FOR item IN ref( service.api_price_list( 'category', 'vpn-mz-test-%' ) ) }}
                [
                    {
                        "text": "{{ item.name }} - {{ item.cost }} руб/мес.",
                        "callback_data": "/serviceorder {{ item.service_id }}"
                    }
                ],
				[
                    {
                        "text": "🚀 Тестовые Услуги",
                        "callback_data": "/tests"
                    }
                ],
                {{ END }}
                [
                    {
                        "text": "⇦ Назад",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}

<% CASE ['/referrals', '🤝 Реферальная система'] %>
{
    "sendMessage": {
        "text": "🤝 Партнёрская программа\n\nПриводи друзей и зарабатывай {{ config.billing.partner.income_percent }}% с их пополнений\n\n⬇️️ Твоя реферальная ссылка:\n└ https://t.me/servruvpn_bot?start={{ user.id }}\n\n🏅 Статистика:\n├ Приведено друзей: {{ user.referrals_count }}\n└ Доступно к выводу: {{ user.get_bonus }} ₽",
        "reply_markup": {
            "inline_keyboard": [
                [
                    {
                        "text": "Назад...",
                        "callback_data": "/menu"
                    }
                ]
            ]
        }
    }
}
<% CASE ['/about', '🚀 О Сервисе'] %>
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
     "sendPhoto": {
        "photo": "https://sun9-67.userapi.com/impg/_Dda2_prlnWOWx8AOThq7SpcUa-CZo35ICgLdQ/adNqp7zUhis.jpg?size=628x1280&quality=95&sign=b1fb8d6e0d0bd04d9225b35adabf7611&type=album",
        "protect_content": "true",
        "parse_mode":"HTML",
        "caption": "🌐 Весь трафик идёт через сервера в современном Датацентре. Не собирается, не хранится и защищён сквозным шифрованием - спокойно вводи логины/пароли и отправляй личные файлы, они в безопасности\n\n ✈️ Скорость передачи сервера 10 Gb/сек, остальные ограничения наложены тарифом провайдера. В прикреплённых фото результат Speedtest-а: зелёный слайд - скорость скачивания, фиолетовый - загрузки\n\n✅️Проверить скорость интернета на своем устройстве ты сможешь после подключения VPN\n\n📍 Твой постоянный IP-адрес - даёт снижение риска блокировки аккаунтов из-за частой смены IP",
        "reply_markup" : {
            "inline_keyboard": [
                [
                   
                ]
            ]
        }
    }
},
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "✅Для подключения достаточно нажать одноименную кнопку.\n\nУ тебя будет 2 дня бесплатного пользования, чтобы оценить его преимущества перед обычными VPN из AppStore или Google Play\n\nЕсли знаешь VPN лучше, сообщи в чат поддержки: <a href=\"https://t.me/supservru/7\">SupServRU VPN</a>"
    }
},
{
    "deleteMessage": { "message_id": {{ message.message_id }} }
},
{
    "sendMessage": {
        "text": "Почему VPN платный? \n\n\nНе смотря на то, что я трачу всё своё личное время🕗 на улучшение сервера, мне необходимо:\n\n✅Оплачивать современный сервер в датацентре с большой пропускной способностью 10Gb/s📶\n✅И быть на связи со своими клиентами 24/7"
    }
}
<% END %>
